
$menuText:#bfcbd9;
$menuHoverText:#fff;
$menuActiveText:#fff;
$subMenuHoverText:#fff; 
$subMenuActiveText:#f4f4f5; 

$menuBg:#2B2B2B;
$menuHover:#2E2E2E;

$subMenuBg:#212121;
$subMenuHover:#212121;

$logoBg:#10283f;

$sideBarWidth: 210px; //侧边栏宽度


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
